# LangSmith Config
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=lsv2_...
LANGCHAIN_PROJECT=day22-lab-rag
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# OpenAI Config
OPENAI_API_KEY=sk-...
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL_NAME=gpt-4o

# Models
EMBEDDING_MODEL_NAME=text-embedding-3-small
